@charset "utf-8";

p.typing-txt {
  display: none;
}

.typing {
  /* position: absolute; */
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  border-right: 2px solid #ccc;
  margin-left: 525px;
}

@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
