#middle {
  overflow: hidden;
}

#left {
  float: left;
  width: 500px;
}

#right {
  float: left;
  width: 250px;
}
h1 {
  font-size: 34px;
  color: black;
  text-align: center;
  margin-top: 120px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.column {
  width: 300;
}

.column2 {
  width: 250;
}
input.submit {
  width: 140px;
  height: 47px;
  float: right;
  margin: 70px 36px 60px 0;
  line-height: 47px;
  border: 1px solid #333333;
  text-align: center;
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  background: none;
  text-align: center;
}
.submit:hover {
  background-color: slategrey;
  color: #f8f7f7;
}
/* .submit:after {
  clear: ;
} */

div {
  display: block;
}

.content {
  position: relative;
  width: 900px;
  overflow: hidden;
  margin: 60px auto 65px auto;
}

input {
  width: 253px;
  height: 40px;
  background-color: #f8f7f7;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  color: #333333;
  font-weight: 300;
  line-height: 40px;
  padding-left: 15px;
  font-family: "";
  font-size: 14px;
  margin-bottom: 10px;
}

textarea {
  width: 320px;
  height: 150px;
  border-top: 3px solid #333;
  background-color: #f8f7f7;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  color: #333333;
  font-weight: 300;
  line-height: 20px;
  padding-left: 15px;
  font-family: "";
  font-size: 14px;
  margin-bottom: 10px;
}

.contact-text {
  overflow: hidden;
  height: auto;
  font-weight: 300;
  float: left;
  padding-left: 50px;
  color: black;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
