html,
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  color: black;
  font-weight: 400;
  height: 100%;
  word-break: keep-all;
  height: 100vh;
  background-color: "";
}
.menubar {
  display: block;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
ul.home {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: "";
  text-align: center;
  font-weight: bold;
}
ul.home:after {
  content: "";
  display: block;
  clear: both;
}
.menu {
  float: left;
  font-size: 20px;
  text-align: center;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: burlywood;
}
/* -----Home----- */

/* -----portfolio----- */
h1.ready {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin-top: 200px;
}
